.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.box {
    width: 90%;
    height: auto;
    column-gap: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.box img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.boxImg {
    width: 100%;
    display: grid;
    justify-content: center;
    padding-bottom: 50px;
}
.boxText {
    width: 100%;
    overflow: hidden;
}
.boxText h1 {
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
    font-weight: 600;
}
.boxText p {
    text-align: center;
    color: rgb(73, 74, 75);
}
@media (min-width: 1024px) {
    .box {
        display: flex;
        width: 80%;
    }
    .boxText h1 {
        font-size: 30px;
    }
    .boxImg {
        width: 30%;
        padding-bottom: 0;
    }
    .boxText {
        width: 60%;
    }
    .boxText h1 {
        text-align: left;
    }
    .boxText p {
        text-align: left;
    }
}
@media (min-width: 1280px) {
    .box {
        width: 50%;
    }
}