.container {
  height: 280px;
  background-image: url(/image/bubbles.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 350px;
  height: 200px;
  background: #1c1c1c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.box::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 350px;
  height: 200px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #58d797, #58d797);
  animation: animate 6s linear infinite;
}
.box::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 350px;
  height: 200px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #58d797, #58d797);
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text {
  position: absolute;
  inset: 2px;
  background: #929294;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .container {
    height: 91.5vh;
  }
}
@media (min-width: 1280px) {
}
