.container {
    height: 280px;
    background-image: url(/image/bubbles_02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .container {
        height: 91.5vh;
    }
}
@media (min-width: 1280px) {
}